body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #1a1a1a; /* Dark background color */
    color: #fff; /* Text color */
}

.calculator {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 250px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: linear-gradient(45deg, #333333, #666666); /* Gradient background */
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 18px;
    background-color: #333; /* Dark input background color */
    color: #fff; /* Text color */
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

button {
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 3px;
    background-color: #444; /* Dark button background color */
    color: #fff; /* Text color */
    cursor: pointer;
}

button:hover {
    background-color: #555; /* Dark hover button background color */
}
